*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* SCROlL-BAR */
.scroll-bar{
  height: 100%;
  overflow-y: scroll;
}


/* Vari tipi di display flex */
.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.flex-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-align-center{
  display: flex;
  align-items: center
}

.flex-justify-content-center {
  display: flex;
  justify-content: center;
  align-items: center
}

.flex-direction{
  display: flex;
  flex-direction: column;
}

.flex-end{
  display: flex;
  justify-content: flex-end;
}

.flex-only-justify-center{
  display: flex;
  justify-content: center;
}

.flex-align-items-start{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.flex-between-start{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
/* Header */

/* NAV-UP */

.nav-up{
  padding: 18px 0 ;
  border-bottom: 1px solid lightgrey;
}

.logo img{
 width: 40px;
 margin-right: 20px;
}

.logo p{
  font-weight: bold;
  font-size: 20px;
}

.container-search{
  width: 300px;
  position: relative;
}

.container-search i{
 position: absolute;
 left: 20px;
}

.nav-up input{
  width: 100%;
  padding: 16px 50px;
  border-radius: 20px;
  background-color: #F3F4F3;

  border: none;
}

.questions{
  font-weight: bold;
}

span{
  font-size: 18px;
}

.icons{
  font-size: 25px;
}

.icons i{
  margin-right: 10px;
}


/* nav-down */
.nav-down{
  height: 80px;
  border-bottom: 1px solid black;
}

.nav-down ul li{
  margin-left: 50px;
  list-style-type: none;
}

.nav-down ul li a {
  text-decoration: none;
  color: grey;
}

/* Main */
/* First section INTERNATIONAL */
.international{
  height: 70px;
  background-color: #1E3120;
  background-image: url('../img/bg-transparent-3.png');
  background-size: auto;
}

.grey{
  color: grey;
}

.white{
  color: white;
}


/* Second Section The best Animal supplies */
.animal-supplies{
  height: 700px;
  background-image: url('../img/banner-5-2x-scaled.jpg');
  background-size:cover;
  padding-left: 30px;
}

.animal-supplies h4{
  padding-top: 140px;
  padding-bottom: 50px;
}

.animal-supplies h2{
  font-size: 60px;
  width:55%;
  padding-bottom: 50px;
}

.animal-supplies p{
  background-color: white;
  width: 15%;
  text-align: center;
  padding: 13px;
  border-radius: 21px;
}

.animal-supplies p a{
  text-decoration: none;
  color: black
}


/* Third Section Visit the SHOP */
.visit-shop{
  height: 120px;
  background-color: #1E3120;
  background-image: url('../img/bg-transparent-3.png');
  background-size: auto;

  padding-top: 15px;
}

.visit-shop img{
  height: 100%;
}

.font-size{
  font-size:22px;
  padding: 0 20px;
}


/* Fourth section Browse by categor */
.category{
  min-height: 150px;
  padding: 90px 30px ;
}



.category > h3{
  text-align: center;
  font-size: 50px;
  padding-bottom: 30px;
}

.category >  p{
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
}


.container-box-4obj{
  padding: 60px 0 120px 0 ;
}

.box-category{
  width: 270px;
  height: 270px;
  /* background-color: red; */
  margin-bottom: 1px;


}

.box-category > img{
  width: 100%;
  padding-bottom: 20px;

}

.box-category > p{
  text-align: center;
}

.box-category   a{
  font-size: 23px;
  text-decoration: none;
  color: black;
}


/* Fifth section KIBBLE MOIST FROZEN */
.box-food{
  width: 400px;
  height: 600px;
  background-color: #1E3120;
  background-image: url('../img/bg-transparent-3.png');
  background-size: auto;
  padding-top: 70px;

}

.box-food h1{
  font-size: 40px;
  padding-bottom: 20px;
}

.box-food p{
  font-size: 20px;
  color: #529C5E;

}

.box-food img{
  width: 70%;
}

.box-food p a{
  color:white;
  background-color: #529C5E;
  text-decoration: none;
  padding: 12px 20px;
  border-radius:22px;
}


/* Sixth section New arrivals weekly  */
.box-newArrivals{
  height: 500px;
  background-image: url('../img/banner-3-2x-scaled.jpg');
  background-size: cover;
  margin-top:  90px;
}

.box-newArrivals > p{
  font-size: 20px;

}
.box-newArrivals > h3{
  padding: 30px 0;
  font-size: 50px;
}

.button-learn  {
  padding: 10px 20px;
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
}

.button-learn a{
  text-decoration: none;
  color:black;
}


/* Seventh section All-times best sellers  */
.all-times > p{
  padding-top: 80px;
  font-size: 20px;
  color: grey;
}

.button > p{
  text-align: center;
  background-color:#2A542A;
  width: 15%;
  padding: 12px 0;
  border-radius: 20px;
}

.button a{
  text-decoration: none;
  color: white;
}

.all-times > h3{
  font-size: 45px;
  padding-bottom: 90px;
}


.container-box-items-everyone > .box-items{
  height: 270px;
  width: 270px;
  /* background-color: green; */
}

.box-items > img{
  width: 100%;
}

.box-items > h4{
  font-size: 22px;
  text-align: center;
  padding: 20px 0;
}

.box-items > p{
  text-align: center;
  color: #2A542A;
  font-size: 24px;
}


/* Eighth section Users testimonials */
.users-testimonials{
  height: 200px;
  background-color:#2A542A;
  margin-top: 90px;
  background-image: url('../img/bg-transparent-3.png');
}

.users-testimonials > h1{
  font-size: 50px;
}

.container-box-users-testimonials{
  min-height: 50px;
  background-color:#2A542A;

}

.box-users-testimonials{
  height: 350px;
  width: 300px;
  /* background-color: red; */
}


.container-photo > img{
 width: 100px;
 height: 100px;
 border-radius: 100%;
 margin-bottom: 30px;

}

.box-users-testimonials > p{
  font-size: 20px;
  text-align: center;
}


.box-users-testimonials  > .author{
  text-align: center;
  font-size: 20px;
  margin: 20px 0;


}


 /* Ninth section Join our newsletter */

.b-color{
  height: 520px;
  background: linear-gradient(180deg, #2A542A 15%, white 13%);
  padding: 0 40px;

}

.container-join-newsletter{
  height: 450px;
  width: 100%;
  /* background-color: blue; */
  background-image: url('../img/banner-7-2x-scaled.jpg');
  background-size:cover;
  background-position: right;
  padding-top: 60px;
  padding-left: 150px;
}

.container-join-newsletter > h3 {
  font-size: 60px;
  padding-bottom: 30px;
}

.container-join-newsletter > p{
  font-size: 23px;
  width: 40%;
  color: grey;
  padding-bottom:50px;
}

.container-join-newsletter > input{
  width: 350px;
  padding: 20px;
  border: none;
  background-color: #F8F5F2;
  border-radius: 25px;
}

.container-join-newsletter > span > a{
  padding: 15px 50px;
  background-color: #2A542A;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  margin-left: 20px;
}


/* Tenth section Get the best tips & trick */
.container-tips-tricks{
 padding: 0 40px;
}

.container-tips-tricks > h3{
  text-align: center;
  font-size: 40px;
}

.container-tips-tricks > p{
  text-align: center;
  font-size: 27px;
  color: grey;
  padding-top: 25px;
  padding-bottom: 40px;
}

.container-box-tricks{
  height: 460px;
  /* background-color: red; */
}
.box-tips-tricks{
  height: 100%;
  width: 272px;
}

.box-tips-tricks > img{
  width: 100%;
}

.box-tips-tricks > h3 {
  font-size: 25px;
  padding: 20px 0;
}

.button > .button-read {
  margin-bottom:120px;
}


/*  Eleventh section Find the best animal/food */
.container-animal-food{
  display: flex;
}
.box-animal-food{
  height: 400px;
  width: 50%;
  /* background-color: red; */

}

.box-animal-food > h3{
  font-size: 40px;
  padding: 40px;
}
.box-animal{
  background-image: url('../img/banner-8-2x.jpg');
  background-size: cover;
}

.box-food-best{
  background-image: url('../img/banner-9-2x.jpg');
  background-size: cover;
}

.delivery-payment{
  height: 200px;
  background-color:#2A542A;
  background-image: url('../img/bg-transparent-3.png');

}

.icon-text > i{
  font-size: 55px;
  padding-bottom: 20px;

}

.icon-text > p{
  font-size: 22px;
}


/* Twelfth section New products arrival */

.title-products > h1{
  text-align: center;
  font-size: 40px;
  padding-top: 120px;
  padding-bottom: 20px;
}

.title-products > p{
  text-align: center;
  font-size: 20px;
  padding-bottom: 60px;
}

.container-first-3-box{
  padding: 0 40px;
  height: 550px;

}
.box-product{
  width: 390px;
  height: 390px;
}

.box-product > img{
  width: 100%;
}

.box-product > h4{
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.box-product > p{
    text-align: center;
    font-size: 20px;
}
