<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- VueJS -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title>Avada PET Supplies</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="js/script.js" charset="utf-8"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    </head>
    <body class="scroll-bar">

      <!-- Header -->
      <header>
        <div id="app">
          <nav class="nav-up flex-around">
            <div class="logo flex-align-center">
              <img src="img/logo-symbol.png" alt="logo">
              <p>Avada Pet Supplies</p>
            </div>
            <div class="container-search flex-align-center" >
              <input type="text" placeholder="Search...">
              <i class="fas fa-search"></i>
            </div>
            <div>
              <span class="questions">Questions?</span>
              <span>Call Us: 1.800.123.4567</span>
            </div>
            <div class="icons">
              <i class="fas fa-shopping-bag"></i>
              <i class="far fa-user"></i>
            </div>
          </nav>

          <nav class="nav-down flex-justify-content-center">
            <ul class="flex-justify-content-center ">
              <li  v-for='item in navDown'  >
                <a  href="#">{{item.link}}</a>
                <i v-if='item.chevron' class="fas fa-chevron-down"></i>
              </li>
              <!-- <li class="lista">
                <a href="#">Shop</a>
                <i class="fas fa-chevron-down"></i>
              </li>
              <li>
                <a href="#">About</a>
              </li>
              <li>
                <a href="#">Blog</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
              <li>
                <a href="#">Shop by Brand</a>
                <i class="fas fa-chevron-down"></i>
              </li>
            </ul>  -->
            </nav>
        </div>
      </header>

      <main>

        <!-- First section INTERNATIONAL -->
        <section class="international flex-around ">
          <div>
            <span class="white"><i class="far fa-map"></i> International</span>
            <span class="grey">shipping Services</span>
          </div>

          <div>
            <i class="far fa-clock white"></i>
            <span class="grey">See our</span>
            <span class="white">store hours</span>
            <span class="grey">and services</span>
          </div>

          <div>
            <i class="fas fa-check white"></i>
            <span class="grey">We price match to give you the</span>
            <span class="white">best deals</span>
          </div>
        </section>

        <!-- Second Section The best Animal supplies-->
        <section class="animal-supplies">
          <h4 class="white">FIND THE BEST ANIMAL SUPPLIES</h4>
          <h2 class="white">We know animals are a part of your family, let us help take care of them.</h2>
          <p>
            <a href="#">Learn more about us</a>
          </p>
        </section>

        <!-- Third Section Visit the SHOP -->
        <section class="visit-shop flex-justify-content-center">
          <img src="img/food-transparent-5.png" alt="">
          <div>
            <span class="white font-size">Get $25 OFF your first purchase of our homemade pet food!</span>
            <span class=" font-size">
              <a class="grey" href="#">Visit the shop</a>
            </span>
          </div>
        </section>

        <!-- Fourth section Browse by category -->
        <section class="category">
          <h3>Browse by category</h3>
          <p>Augue purus et, tincidunt condimentum mauris. At nibh rutrum mi in.</p>
          <p>Nisi, vitae interdum eleifend dui, consequat nulla rhoncus dictum. Viverra.</p>
          <div class="container-box-4obj flex-between">
            <div class="box-category">
              <img src="img/product-9.jpg" alt="">
              <p>
                <a href="#">Bed(1)</a>
              </p>

            </div>
            <div class="box-category">
              <img src="img/product-3.jpg" alt="">
              <p>
                <a href="#">Food(6)</a>
              </p>

            </div>
            <div class="box-category">
              <img src="img/product-2.jpg" alt="">
              <p>
                <a href="#">Toys(6)</a>
              </p>

            </div>
            <div class="box-category">
              <img src="img/product-4.jpg" alt="">
              <p>
                <a href="#">Transport(7)</a>
              </p>
            </div>
          </div>

          <!--Fifth section KIBBLE MOIST FROZEN -->
          <section>
            <div class="container-box-food flex-between">
              <div class="box-food flex-column">
                <h1 class="white">Kibble</h1>
                <p>Dry dog food</p>
                <img src="img/food-transparent-18.png" alt="">
                <p>
                  <a href="#">Shop dry food</a>
                </p>

              </div>
              <div class="box-food flex-column">
                <h1 class="white">Moist</h1>
                <p>Canned dog food</p>
                <img src="img/food-transparent-17.png" alt="">
                <p>
                  <a href="#">Shop moist food</a>
                </p>

              </div>
              <div class="box-food flex-column">
                <h1 class="white">Frozen</h1>
                <p>Freeze-Dried dog food</p>
                <img src="img/food-transparent-16.png" alt="">
                <p>
                  <a href="#">Shop frozen food</a>
                </p>

              </div>
            </div>
          </section>

          <!-- Sixth section New arrivals weekly -->
          <section class="box-newArrivals flex-justify-content-center flex-direction ">
             <p class="white">FIND THE BEST ANIMAL SUPPLIES</p>
             <h3 class="white">New arrivals weekly</h3>
             <p class="button-learn">
               <a href="#">Learn about us</a>
             </p>
          </section>


          <!-- Seventh section All-times best sellers -->
          <section class="all-times">
            <p>All-time best sellers</p>
            <div class="button flex-end">
              <p>
               <a href="#">View all products</a>
             </p>
            </div>
            <h3>Items everyone loves</h3>
            <div class="container-box-items-everyone flex-between">
              <div class="box-items">
                <img src="img/product-21.jpg" alt="foto">
                <h4>Transport cage</h4>
                <p>$25.00</p>

              </div>
              <div class="box-items">
                <img src="img/product-20.jpg" alt="foto">
                <h4>Dog leash</h4>
                <p>$25.00</p>

              </div>
              <div class="box-items">
                <img src="img/product-16.jpg" alt="foto">
                <h4>Animal transport cage</h4>
                <p> $25.00</p>

              </div>
              <div class="box-items">
                <img src="img/product-11.jpg" alt="foto">
                <h4>Colorful cat leash</h4>
                <p> $25.00</p>
              </div>
            </div>
          </section>
        </section>


        <!-- Eighth section Users testimonials -->
        <section>
          <div class="users-testimonials flex-justify-content-center">
            <h1 class="white">Users testimonials</h1>
          </div>

          <div class="container-box-users-testimonials flex-around">
            <div class="box-users-testimonials flex-align-center flex-direction">
              <div class="container-photo">
                <img src="img/avatar-3.jpg" alt="avatar3">
              </div>
              <p class="white">Auctor est habitasse amet nunc, interdum vel mattis sodales cras. Ut nulla quis nunc, tincidunt eu. Eu.</p>
              <p class="grey author">Lisa Smith, ThemeFusion</p>
            </div>

            <div class="box-users-testimonials flex-align-center flex-direction">
              <div class="container-photo">
                <img src="img/avatar-1.jpg" alt="avatar3">
              </div>
              <p class="white">Donec sollicitudin molestie malesuada. Vivamus suscipit tortor eget felis porttitor volutpat vestibulum ac diam sit.</p>
              <p class="grey author">Melissa Green, ThemeFusion</p>
            </div>

            <div class="box-users-testimonials flex-align-center flex-direction">
              <div class="container-photo">
                <img src="img/avatar-4.jpg" alt="avatar3">
              </div>
              <p class="white">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Proin eget tortor risus vestibulum ante ipsum.</p>
              <p class="grey author">Melissa Green, ThemeFusion</p>
            </div>
          </div>
       </section>

       <!-- Ninth section Join our newsletter -->
       <section class="b-color flex-only-justify-center">
         <div class="container-join-newsletter">
           <h3>Join our newsletter</h3>
           <p>Volutpat vel turpis nulla lorem sed semper. Aliquam sagittis sem libero viverra vehicula nullam ut nisl.</p>
           <input type="email" name="" value="" placeholder="Insert your email...*">
           <span>
             <a href="#">Subscribe</a>
           </span>
         </div>
       </section>

        <!-- Tenth section Get the best tips & tricks-->
        <section class="container-tips-tricks">
          <h3>Get the best tips & tricks</h3>
          <p>Recent articles</p>
          <div class=" container-box-tricks  flex-between">
            <div class="box-tips-tricks">
               <img src="img/blog-1.jpg" alt="foto-blog">
               <h3>How to ‘loose leash walk’ your dog</h3>
               <p>April 21st, 2020</p>
             </div>
            <div class="box-tips-tricks">
              <img src="img/blog-2.jpg" alt="foto-blog">
              <h3>Stop cats from scratching furniture</h3>
              <p>April 19th, 2020</p>

            </div>
            <div class="box-tips-tricks">
               <img src="img/blog-3.jpg" alt="foto-blog">
               <h3>Where to buy the best pet food</h3>
               <p>April 18th, 2020</p>

            </div>
            <div class="box-tips-tricks">
               <img src="img/blog-4.jpg" alt="foto-blog">
               <h3>Proper care for your pet toys</h3>
               <p>April 17th, 2020</p>

            </div>
          </div>
          <div class="button flex-justify-content-center">
            <p class="button-read">
              <a href="#">Read all articles</a>
            </p>
          </div>
        </section>


        <!-- Eleventh section Find the best animal/food -->
        <section>
          <div class="container-animal-food">
            <div class=" box-animal-food box-animal flex-justify-content-center flex-direction">
              <p class="white">FIND THE BEST ANIMAL SUPPLIES</p>
              <h3 class="white">Popular acessories</h3>
              <p class="white">View all toys acessories</p>

            </div>
            <div class="box-animal-food box-food-best flex-justify-content-center flex-direction">
              <p class="white">FIND THE BEST FOOD</p>
              <h3 class="white">New food arrival</h3>
              <p class="white">View all food products</p>

            </div>
          </div>
          <div class="delivery-payment flex-around">
            <div class="icon-text  flex-align-center flex-direction ">
              <i class="fas fa-truck white"></i>
              <p class="grey">Free worldwide deliveries</p>
            </div>
            <div class="icon-text flex-align-center flex-direction">
             <i class="far fa-map white"></i>
             <p class="grey">Find stores near you</p>
            </div>
            <div class="icon-text flex-align-center flex-direction">
              <i class="fas fa-dollar-sign white"></i>
              <p class="grey">Best prices guarranteed</p>
            </div>
            <div class="icon-text flex-align-center flex-direction">
              <i class="far fa-credit-card white"></i>
              <p class="grey">All credit card accepted</p>
            </div>
          </div>
        </section>





      </main>

    </body>
</html>
