<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Avada PET Supplies</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  </head>
  <body class="scroll-bar">


    <div id="app">

      <!-- Start Header -->
      <header>
        <!-- Nav UP -->
        <nav class="nav-up flex-around">
          <div class="logo flex-align-center">
            <img src="img/logo-symbol.png" alt="logo">
            <p>Avada Pet Supplies</p>
          </div>
          <div class="container-search flex-align-center" >
            <input type="text" placeholder="Search...">
            <i class="fas fa-search"></i>
          </div>
          <div>
            <span class="questions">Questions?</span>
            <span>Call Us: 1.800.123.4567</span>
          </div>
          <div class="icons">
            <i class="fas fa-shopping-bag"></i>
            <i class="far fa-user"></i>
          </div>
        </nav>

        <!-- Nav DOWN -->
        <nav class="nav-down flex-justify-content-center">
          <ul class="flex-justify-content-center ">
            <li class="margin-navDown" v-for='item in navDown'  >
              <a class="grey color-hover" href="#">{{item.link}}</a>
              <i v-if='item.chevron' class="fas fa-chevron-down grey"></i>
            </li>
          </ul>
        </nav>
      </header>


      <!-- Start main -->
      <main>
        <!-- First section INTERNATIONAL -->
       <section>
          <div class="international flex-around ">
            <div>
              <span class="white"><i class="far fa-map"></i> International</span>
              <span class="grey">shipping Services</span>
            </div>

            <div>
              <i class="far fa-clock white"></i>
              <span class="grey">See our</span>
              <span class="white">store hours</span>
              <span class="grey">and services</span>
            </div>

            <div>
              <i class="fas fa-check white"></i>
              <span class="grey">We price match to give you the</span>
              <span class="white">best deals</span>
            </div>
          </div>
       </section>


        <!-- Second Section The best Animal supplies-->
       <section >
          <div class="animal-supplies">
            <h4 class="white">FIND THE BEST ANIMAL SUPPLIES</h4>
            <h2 class="white">We know animals are a part of your family, let us help take care of them.</h2>
            <p class="button-hover">
              <a class="black" href="#">Learn more about us</a>
            </p>
          </div>
       </section>


        <!-- Third Section Visit the SHOP -->
       <section>
          <div  class="visit-shop flex-justify-content-center">
            <img src="img/food-transparent-5.png" alt="">
            <div>
              <span class="white font-size">Get $25 OFF your first purchase of our homemade pet food!</span>
              <span class=" font-size">
                <a class="grey underline" href="#">Visit the shop</a>
              </span>
            </div>
          </div>
       </section>


       <!-- Fourth/Fifth/Sixth/Seventh sections -->
       <section class="container-category">

         <!-- Fourth  section Browse by category -->
         <section class="category">
           <h3>Browse by category</h3>
           <p>Augue purus et, tincidunt condimentum mauris. At nibh rutrum mi in.</p>
           <p>Nisi, vitae interdum eleifend dui, consequat nulla rhoncus dictum. Viverra.</p>
           <div class="container-box-4obj flex-between">
             <div>
               <div class="box-img-category">
                 <img src="img/product-9.jpg" alt="">
               </div>
               <div class="box-text-category flex-justify-content-center">
                 <p>
                   <a href="#">Bed(1)</a>
                 </p>
               </div>
             </div>

             <div>
               <div class="box-img-category">
                  <img src="img/product-3.jpg" alt="">
               </div>
               <div class="box-text-category flex-justify-content-center">
                 <p>
                   <a href="#">Food(6)</a>
                 </p>
               </div>
             </div>

             <div>
               <div class="box-img-category">
                  <img src="img/product-2.jpg" alt="">
               </div>
               <div class="box-text-category flex-justify-content-center">
                 <p>
                   <a href="#">Toys(6)</a>
                 </p>
               </div>
             </div>

             <div>
               <div class="box-img-category">
                  <img src="img/product-4.jpg" alt="">
               </div>
               <div class="box-text-category flex-justify-content-center">
                 <p>
                    <a href="#">Transport(7)</a>
                 </p>
               </div>
             </div>
           </div>
          </section>

          <!--Fifth section KIBBLE MOIST FROZEN -->
          <section>
            <div class="container-box-food flex-between">
              <div class="box-food flex-column">
                <h1 class="white">Kibble</h1>
                <p>Dry dog food</p>
                <img src="img/food-transparent-18.png" alt="">
                <p class="button-food">
                  <a class="white" href="#">Shop dry food</a>
                </p>
              </div>
              <div class="box-food flex-column">
                <h1 class="white">Moist</h1>
                <p>Canned dog food</p>
                <img src="img/food-transparent-17.png" alt="">
                <p class="button-food">
                  <a class="white" href="#">Shop moist food</a>
                </p>
                </div>
              <div class="box-food flex-column">
                <h1 class="white">Frozen</h1>
                <p>Freeze-Dried dog food</p>
                <img src="img/food-transparent-16.png" alt="">
                <p class="button-food">
                  <a class="white" href="#">Shop frozen food</a>
                </p>
              </div>
            </div>
          </section>

          <!-- Sixth section New arrivals weekly -->
          <section class="box-newArrivals flex-justify-content-center flex-direction ">
            <p class="white">FIND THE BEST ANIMAL SUPPLIES</p>
            <h3 class="white">New arrivals weekly</h3>
            <p class="button-learn">
             <a class="black" href="#">Learn about us</a>
            </p>
          </section>

          <!-- Seventh section All-times best sellers -->
          <section class="all-times">
            <p class="grey">All-time best sellers</p>
            <div class=" flex-end">
              <p class="button-view">
               <a class="white" href="#">View all products</a>
             </p>
            </div>
            <h3>Items everyone loves</h3>
            <div class="container-box-items-everyone flex-between">
              <div>
                <div class="box-items-img ">
                 <img src="img/product-21.jpg" alt="foto">
                </div>
                <div class="box-items-text">
                  <h4>Transport cage</h4>
                  <p>$25.00</p>
                </div>
              </div>

              <div>
                <div class="box-items-img ">
                  <img src="img/product-20.jpg" alt="foto">
                </div>
                <div class="box-items-text">
                  <h4>Dog leash</h4>
                  <p>$25.00</p>
                </div>
              </div>

              <div>
                <div class="box-items-img ">
                 <img src="img/product-16.jpg" alt="foto">
                </div>
                <div class="box-items-text">
                  <h4>Animal transport cage</h4>
                  <p> $25.00</p>
                </div>
              </div>

              <div>
                <div class="box-items-img ">
                 <img src="img/product-11.jpg" alt="foto">
                </div>
                <div class="box-items-text">
                  <h4>Colorful cat leash</h4>
                  <p> $25.00</p>
                </div>
              </div>
            </div>
          </section>
        </section>


        <!-- Eighth section Users testimonials -->
        <section>
          <div class="users-testimonials flex-justify-content-center">
            <h1 class="white">Users testimonials</h1>
          </div>

          <div class="container-box-users-testimonials flex-around">
            <div class="box-users-testimonials flex-align-center flex-direction">
              <div class="container-photo">
                <img src="img/avatar-3.jpg" alt="avatar3">
              </div>
              <p class="white">Auctor est habitasse amet nunc, interdum vel mattis sodales cras. Ut nulla quis nunc, tincidunt eu. Eu.</p>
              <p class="grey author">Lisa Smith, ThemeFusion</p>
            </div>

            <div class="box-users-testimonials flex-align-center flex-direction">
              <div class="container-photo">
                <img src="img/avatar-1.jpg" alt="avatar3">
              </div>
              <p class="white">Donec sollicitudin molestie malesuada. Vivamus suscipit tortor eget felis porttitor volutpat vestibulum ac diam sit.</p>
              <p class="grey author">Melissa Green, ThemeFusion</p>
            </div>

            <div class="box-users-testimonials flex-align-center flex-direction">
              <div class="container-photo">
                <img src="img/avatar-4.jpg" alt="avatar3">
              </div>
              <p class="white">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Proin eget tortor risus vestibulum ante ipsum.</p>
              <p class="grey author">Melissa Green, ThemeFusion</p>
            </div>
          </div>
       </section>


       <!-- Ninth section Join our newsletter -->
       <section>
         <div  class="b-color flex-only-justify-center">
           <div class="container-join-newsletter">
             <h3>Join our newsletter</h3>
             <p>Volutpat vel turpis nulla lorem sed semper. Aliquam sagittis sem libero viverra vehicula nullam ut nisl.</p>
             <input class="email" type="email" name="" value="" placeholder="Insert your email...*">
             <span>
               <a class="button-subscribe white"href="#">Subscribe</a>
             </span>
           </div>
         </div>
       </section>


        <!-- Tenth section Get the best tips & tricks-->
        <section>
          <div  class="container-tips-tricks">
            <h3>Get the best tips & tricks</h3>
            <p>Recent articles</p>
            <div class=" container-box-tricks  flex-between">
              <div>
                <div class="box-tips-tricks-img">
                  <img src="img/blog-1.jpg" alt="foto-blog">
                </div>
                <div class="box-tips-tricks-text">
                  <h3>How to ‘loose leash walk’ your dog</h3>
                  <p>April 21st, 2020</p>
                </div>
              </div>

              <div>
                <div class="box-tips-tricks-img">
                <img src="img/blog-2.jpg" alt="foto-blog">
                </div>
                <div class="box-tips-tricks-text">
                  <h3>Stop cats from scratching furniture</h3>
                  <p>April 19th, 2020</p>
                </div>
              </div>

              <div>
                <div class="box-tips-tricks-img">
                <img src="img/blog-3.jpg" alt="foto-blog">
                </div>
                <div class="box-tips-tricks-text">
                  <h3>Where to buy the best pet food</h3>
                  <p>April 18th, 2020</p>
                </div>
              </div>

              <div>
                <div class="box-tips-tricks-img">
                  <img src="img/blog-4.jpg" alt="foto-blog">
                </div>
                <div class="box-tips-tricks-text">
                  <h3>Proper care for your pet toys</h3>
                  <p>April 17th, 2020</p>
                </div>
              </div>
            </div>
            <div class="flex-justify-content-center">
              <p class="button-view margin-read-all-articles">
                <a class="white" href="#">Read all articles</a>
              </p>
            </div>
          </div>
        </section>


        <!-- Eleventh section Find the best animal/food -->
        <section>
          <div class="container-animal-food">
            <div class=" box-animal-food box-animal flex-justify-content-center flex-direction">
              <p class="white">FIND THE BEST ANIMAL SUPPLIES</p>
              <h3 class="white">Popular acessories</h3>
              <p class="white">View all toys acessories</p>
            </div>
            <div class="box-animal-food box-food-best flex-justify-content-center flex-direction">
              <p class="white">FIND THE BEST FOOD</p>
              <h3 class="white">New food arrival</h3>
              <p class="white">View all food products</p>
            </div>
          </div>

          <div class="delivery-payment flex-around">
            <div class="icon-text  flex-align-center flex-direction ">
              <i class="fas fa-truck white"></i>
              <p class="grey">Free worldwide deliveries</p>
            </div>

            <div class="icon-text flex-align-center flex-direction">
             <i class="far fa-map white"></i>
             <p class="grey">Find stores near you</p>
            </div>

            <div class="icon-text flex-align-center flex-direction">
              <i class="fas fa-dollar-sign white"></i>
              <p class="grey">Best prices guarranteed</p>
            </div>

            <div class="icon-text flex-align-center flex-direction">
              <i class="far fa-credit-card white"></i>
              <p class="grey">All credit card accepted</p>
            </div>
          </div>
        </section>


        <!-- Twelfth section New products arrival  -->
        <section>
          <div class="title-products">
            <h1>New products arrival</h1>
            <p>Latest products</p>
          </div>

          <div class="container-first-3-box">
            <div class="flex-between-start">
              <div>
                <div class="box-product-img">
                  <img src="img/product-8.jpg" alt="foto">
                </div>
                <div class="box-product-text">
                  <h4>Colored pet bed</h4>
                  <p>$25.00</p>
                </div>
              </div>

              <div>
                <div class="box-product-img">
                  <img src="img/product-2.jpg" alt="foto">
                </div>
                <div class="box-product-text">
                  <h4>Colorful ball set</h4>
                  <p>$29.00</p>
                </div>
              </div>

              <div>
                <div class="box-product-img">
                <img src="img/product-3.jpg" alt="foto">
                </div>
                <div class="box-product-text">
                  <h4>Dog bone</h4>
                  <p>$18.00</p>
                </div>
              </div>
            </div>

            <div class="flex-between-start">
              <div>
                <div class="box-product-img">
                  <img src="img/product-4.jpg" alt="foto">
                </div>
                <div class="box-product-text">
                  <h4>Animal transport bag</h4>
                  <p>$29.00</p>
                </div>
              </div>

              <div>
                <div class="box-product-img">
                  <img src="img/product-5.jpg" alt="foto">
                </div>
                <div class="box-product-text">
                  <h4>Animal transport cage</h4>
                  <p>$35.00</p>
                </div>
              </div>

              <div>
                <div class="box-product-img">
                  <img src="img/product-10.jpg" alt="foto">
                </div>
                <div class="box-product-text">
                 <h4>Closable cat litter</h4>
                 <p>$16.00</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>


      <!-- Start Footer -->
      <footer>

        <!-- First section footer  -->
        <section>
          <div class="first-part-footer flex-between-start">
            <div class="box-footer ">
              <div class="logo flex-align-center">
                <img src="img/logo-symbol.png" alt="logo">
                <div class="text-logo">
                  <p class="white">Avada </p>
                  <p class="white">Pet Supplies</p>
                </div>
              </div>
              <p class="white text-footer">
                1234 Avada Avenue Avadaville
                info@your-company.com
                Call us: (1) 234 5678
              </p>
            </div>

            <div class="box-footer">
              <ul v-for="item in items">
                <li>
                 <a class="title white" v-text="item.name" href="#"></a>
               </li>
               <ul v-for="sub in item.sub">
                 <li class="li-sub-title">
                   <a class="sub-title white links-hover" v-text="sub.title" href="#"></a>
                 </li>
               </ul>
             </ul>
           </div>

            <div class="box-footer">
              <ul v-for="ele in links">
                <li>
                  <a class="title white" v-text="ele.names" href="#"></a>
                </li>
               <ul v-for="subs in ele.subs">
                 <li class="li-sub-title">
                   <a class="sub-title white links-hover" v-text="subs.titles"  href="#"></a>
                 </li>
               </ul>
             </ul>
           </div>

            <div class="box-footer transparent  flex-justify-content-center flex-direction">
              <p class="white title-newsletter">Subscribe to our newsletter</p>
              <input class="email email-width"type="email" name="" value="" placeholder="Insert your email...*">
              <p>
                <a class="button-subscribe color-button-subscribe white" href="#">Subscribe</a>
              </p>
            </div>
          </div>
        </section>

        <!-- Second section Footer -->
        <section>
          <div class="second-part-footer">
           <div class="linear"></div>
           <nav class="nav-down border  flex-justify-content-center">
             <ul class="flex-justify-content-center ">
               <li  class="margin-footer-icons" v-for='item in navDownFooter'  >
                 <a class="list-footer grey voces-hover" href="#" >{{item.voces}}</a>
               </li>
             </ul>
           </nav>

           <nav class="nav-down border  flex-justify-content-center">
             <ul class="flex-justify-content-center ">
               <li class="margin-footer-icons">
                 <a class="white icon-footer" href="#"><i class="fab fa-facebook-f"></i></a>
               </li>
               <li class="margin-footer-icons">
                 <a class="white icon-footer" href="#"><i class="fab fa-twitter"></i></a>
               </li>
               <li class="margin-footer-icons">
                 <a class="white icon-footer" href="#"><i class="fab fa-instagram"></i></a>
               </li>
               <li class="margin-footer-icons">
                 <a class="white icon-footer" href="#"><i class="fab fa-youtube"></i></a>
               </li>
             </ul>
           </nav>
         </div>
       </section>

       <!-- Third section Footer -->
       <section>
         <div class="copyright flex-justify-content-center">
           <p class="white ">© Copyright 2012 - 2021 | Avada Theme by ThemeFusion | All Rights Reserved | Powered by WordPress</p>

         </div>
       </section>
     </footer>
    </div>
  </body>
</html>
